* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "h1";
    src: url("/public/FONT/Merry\ Holiday.ttf");
}

@font-face {
    font-family: "h3";
    src: url("/public/FONT/Heyam.ttf");
}

body {
    background-color: rgb(219, 197, 168);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body p {
    padding: 5px;
}

/* ------------------ IMAGEN DE CABECERA ------------------  */

header {
    background-image: url("/public/IMG/head.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 196, 0);
    padding: 60px;
    height: auto;
}

@media (max-width: 560px) {
    header {
        background-size: cover;
        background-position: top;
        padding: 20px;
        height: auto;
    }
}

/* ----------------------- NAV -------------------------- */

main .cabe {
    width: 100%;
    height: auto;
    background-color: #000000af;

}

main .cabe h1 {
    font-family: "h1";
    text-align: center;
    color: rgb(248, 210, 138);
    text-shadow: 2px 2px 4px black;
    padding: 5px;
}

main .cabe nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 30px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

main .cabe nav ul li {
    margin-right: 20px;
}

main .cabe nav ul li img {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

main .cabe nav ul li a {
    color: white;
    text-decoration: none;
}

main .cabe nav ul li a:hover {
    color: rgb(231, 29, 14);
    font-size: 20px;
    font-weight: bolder;
}

main .cabe div {
    display: flex;
    justify-content: center;
    color: #d8975b;
    text-shadow: 2px 2px 4px black;
    padding-bottom: 5px;
}

main .cabe div #contador {
    padding-left: 5px;
    font-weight: bolder;
    color: #f4f4f4;
}

/* ------------------------------- SLIDER ------------------------------------------------ */

main .slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

main .slider .slider-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

main .slider .slide {
    width: 200px;
}

main .slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

/* --------------------------------- MAIN PAGINA HOME (1) ---------------------- */

main .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 10px;
}

main .container .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 220px;
    height: auto;
    border-style: groove;
    margin: 20px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
}

main .container .card img {
    width: 220px;
}

main .promocion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(119, 88, 66, 0.692);
}

main .promocion img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

main .promocion h3 {
    padding-top: 20px;
    font-family: "h3";
    font-size: 40px;
    color: rgb(255, 174, 0);
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

/* --------------------------------- PRODUCTOS PAGINA (3) ---------------------- */

main h3 {
    font-family: "h1";
    font-weight: bold;
    font-size: 29px;
    color: rgb(228, 183, 99);
    text-shadow: 2px 2px 4px rgb(17, 17, 17);
    background-color: rgb(39, 39, 41);
}

main h2 {
    font-family: "h1";
}

main .container .producto {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 150px;
    height: auto;
    border-style: groove;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
}

main .container .producto img {
    width: 150px;
}

main .container .producto button {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 5px;
}

main .container .producto button:hover {
    background-color: goldenrod;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

main .container-info {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(23, 37, 37);
}

main .container-info span {
    padding: 20px;
    color: aliceblue;
}

main .carrito {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

main .carrito img {
    width: 50px;
}

main .carrito img:hover {
    width: 80px;
}
/* --------------------------------- CONTACTO PAGINA (5) ---------------------- */
main h2 {
    font-weight: bold;
    font-size: 29px;
    color: rgb(228, 183, 99);
    text-shadow: 2px 2px 4px rgb(17, 17, 17);
    background-color: rgb(39, 39, 41);
    margin-bottom: 20px;
}

main form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

main form textarea {
    margin: 15px;
    width: 350px;
    height: 150px;
    resize: none;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0)
}

main form input {
    margin: 10px;
}

/* --------------------------------- CARRITOS PAGINA (6) ---------------------- */

main table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 50px auto; 
    text-align: center; 
}

main table thead th {
    text-align: center; 
    padding: 20px 10px; 
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
}

main table tbody  td {
        text-align: center; 
    padding: 10px; 
    border: 1px solid #ccc; 
}

main button {
    margin: 30px;
    padding: 5px;
}

main button:hover {
    background-color: goldenrod;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

/* ------------------------ FOOTER -------------------------  */

footer {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #9e6946af;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    footer .gps,
    footer .paginas,
    footer .links {
        width: 100%;
    }
}

footer hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: white;
    margin: 20px 0;
}

footer .gps iframe {
    max-width: 320px;
    height: auto;
    aspect-ratio: 4 / 3;
    border: 0;
}

@media (max-width: 768px) {
    footer .gps iframe {
        max-width: 100%;
    }
}

footer .paginas {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .paginas ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

footer .paginas ul li {
    padding-bottom: 10px;
}

footer .paginas ul li .selec {
    color: rgb(89, 12, 161);
}

footer .paginas ul li a {
    color: white;
    text-decoration: none;
}

footer .paginas ul li a:hover {
    color: red;
}

footer .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .links .face img,
.insta img,
.what img {
    height: 30px;
}

footer .links .face,
.insta,
.what {
    gap: 5px;
    align-items: center;
}