{{!-- -------------- HEADER ----------------------- --}}
<div class="header">
    <img src="/img/perfil.jpg" alt="costado" class="costado" />
    <img src="/img/home1.jpg" alt="centro" class="centro">
    <img src="./img/perfil2.jpg" alt="costado" class="costado" />
</div>
<hr>

{{!-- -------------- NAV ----------------------- --}}

{{>menu}}

<hr>

<div class="main-salud">

    <div class="titulo-salud">
        <p><strong>Salud y Belleza</strong></p>
        <span>Los mejores consejos de la salud y la belleza</span>
    </div>





</div>

<hr>
{{!-- -------------- FOOTER ----------------------- --}}

<div class="footer">

    <div class="cont-gps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.7631635127777!2d-57.883632323490325!3d-34.93747627520255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2ef0fe9981e5d%3A0xe870dd0d8feb60cd!2sC.%20125%203535%2C%20B1914LWM%20Villa%20Elvira%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1718290315214!5m2!1ses!2sar"
            width="350" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="enlaces">
        {{>menu-footer}}
        <div class="redes">
            <img src="/img/icons/facebook.png" alt="face" class="icono-redes">
            <p>Pao-Oviedo</p>
            <img src="/img/icons/instagram.png" alt="insta" class="icono-redes">
            <p>Oviedo-Peluqueria</p>
            <img src="/img/icons/whatsapp.png" alt="whats" class="icono-redes">
            <p>221-111-1111</p>
        </div>
    </div>

    <div class="logo">
        <img src="/img/logo-pelo.png" alt="logo">
    </div>

</div>