.cortes{
    width: 100%;
    height: 45.625rem;
    background-color: whitesmoke;
}
.cortes .contenedor-masculinos{
    background-color: rgba(205, 116, 8, 0.42);
    width: 100%;
    height: 1.875rem;
    margin:0%;
}
.cortes .contenedor-masculinos h2{
    margin: 0%;
    padding-left: .625rem;
}

.contenedor-cortes{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    gap: .625rem;
    justify-content: center;
}
.contenedor-cortes .card-cortes{
    background-color: rgba(195, 171, 75, 0.515);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: .625rem;
    width: 9.375rem;
    height: auto;
    align-items: center;
    border-style:groove;
}
.contenedor-cortes .card-cortes img{
    width: 8.75rem;
    height: 11.4375rem;
    margin-top: .3125rem;

}