<ul class="menu-footer">

    <li><a href="/">Inicio</a></li>
    <p> | </p>
    <li><a href="/">Cortes</a></li>
    <p> | </p>
    <li><a href="/">Tintura</a></li>
    <p> | </p>
    <li><a href="/">Planchados</a></li>
    <p> | </p>
    <li><a href="/salud">Salud y Belleza</a></li>
    <p> | </p>
    <li><a href="/cursos">Cursos</a></li>
    <p> | </p>
    <li><a href="/productos">Productos</a></li>
    <p> | </p>
    <li><a href="/contacto">Contacto</a></li>

</ul>