<div class="nav">
    <p>Especialista en Belleza</p>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>

        <li>
            <a href="/">Servicio</a>
            <ul>
                <li>
                    <a href="">Cortes</a>
                </li>

                <li>
                    <a href="">Tintura</a>
                </li>

                <li>
                    <a href="">Planchados</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/salud">Salud y Belleza</a>
        </li>

        <li>
            <a href="/cursos">Cursos</a>
        </li>

        <li>
            <a href="/productos">Productos</a>
        </li>

        <li>
            <a href="/contacto">Contacto</a>
        </li>
    </ul>
    <p>Dedicado a la salud y energia</p>
</div>